[container_registry]
  registry_server = "ghcr.io"
  registry_provider = "Public"
  molecule_container_name = "polar-team/diffusion-molecule-container"
  molecule_container_tag = "latest-amd64"

[vault]
  enabled = false

[yaml_lint]
  extends = "default"
  ignore = [".git/*", "molecule/**", "vars/*", "files/*", ".yamllint", ".ansible-lint"]
  [yaml_lint.rules]
    comments-indentation = false
    [yaml_lint.rules.braces]
      level = "warning"
      max-spaces-inside = 1
    [yaml_lint.rules.brackets]
      level = "warning"
      max-spaces-inside = 1
    [yaml_lint.rules.new-lines]
      type = "platform"
    [yaml_lint.rules.comments]
      min-spaces-from-content = 1
    [yaml_lint.rules.octal-values]
      forbid-implicit-octal = true

[ansible_lint]
  exclude_paths = ["molecule/default/tests/*.yml", "molecule/default/tests/*/*/*.yml", "tests/test.yml"]
  warn_list = ["meta-no-info", "yaml[line-length]"]
  skip_list = ["meta-incorrect", "role-name[path]"]

[tests]
  type = "diffusion"

[cache]
  enabled = true
  cache_id = "53a5ba6854e8c0eb"

[dependencies]
  ansible = ">=13.0.0"
  ansible_lint = ">=24.0.0"
  molecule = ">=24.0.0"
  yamllint = ">=1.35.0"
  [dependencies.python]
    Min = "3.11"
    Max = "3.13"
    Pinned = "3.13"

  [[dependencies.collections]]
    Name = "community.general"
    Version = ">=12.2.0"

  [[dependencies.collections]]
    Name = "community.docker"
    Version = ">=5.0.5"

  [[dependencies.roles]]
    Name = "default.konstruktoid.docker_rootless"
    Src = "https://github.com/konstruktoid/ansible-role-docker-rootless.git"
    Scm = "git"
    Version = "<1.12.0"
