[Unit]
Description="Timer for Yandex certificate crawler profile {{ profile_name }}"

[Timer]
Unit=yandex_certificate_crawler_{{ profile_name }}.service
OnBootSec=5min
OnCalendar={{ yandex_certificate_crawler_schedule | default("*-*-* 19:00:00") }}
Persistent=True
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
